body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #df6262;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  nav {
    text-align: center;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 14;
  }
  
  main {
    display: flex;
    justify-content: center;
  }
  
  .button {
    background-color: #df6262;
    color: #fff;
    padding: 10px 20px;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    font-size: 13px;
    transition: width 1s, height 1s, font-size 1s;
  }

  .button:hover {
    width: 200px;
    height: 50px;
    font-size: 16px;
    transition: width 0.5, height 0.5s, font-size: 0.5s;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 900px;
  }
  
  .section {
    padding: 40px;
    background-color: #f1f1f1;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .section1 {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .section1 img {
    width: 50%;
    height: auto;
    border-radius: 10px;
  }
  
  .section1 h2 {
    font-size: 2.5rem;
  }
  
  .catGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  
  .catGrid img {
    width: 100%;
    height: auto;
  }

  .gridimage {
    width: 300px;
  }

  .gridimage:hover {
  width: 550px;
  transition: width 2s;
}

  footer {
    background-color: #df6262;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  .hamburger {
    display: none;
  }

  .headerlink {
    color: rgb(255, 255, 255);
  }

 .mailadress {
    color: rgb(24, 14, 21);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: blue;
    text-decoration: underline;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
    text-decoration: underline;
    font-size: 20px;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  h2 {
    color: #df6262;
  }

  .section,
  .section1Text {
    text-align: center;
  }

  .Welcome {
    text-align: left;
  }

  p {
    font-size: 0.9rem;
  }

  img {
    cursor: pointer;
  }

  @media (max-width: 736px) {
    .section1 {
        flex-direction: column;
    }

    .section,
    .section1Text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin: 0 20px;
        cursor: pointer;
    }

     nav a {
        display: none;
    }

     img {
       max-width: 100%;
    }

     body {
      font-size: 0.7em;
    }

    .button {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    p {
      font-size: 12px;
    }

    .section1 h2 {
      text-align: center;
      font-size: 1.5rem;
    }
    
    }
